* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eccdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  flex-direction: column;
}
body nav {
  overflow: hidden;
  font-family: "Cutive Mono", monospace;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 15vh;
  background: #def1f7;
}
body nav header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
}
body nav header h1 {
  margin: 20px;
  font-size: 2em;
}
body nav header img {
  margin-left: 10px;
  height: 65px;
  width: 65px;
}
body nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  align-self: center;
  flex: 1;
}
body nav .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
body nav .links ul li {
  margin: 0 2vw;
  list-style-type: none;
}
body nav .links ul li a {
  font-size: 1.25em;
  color: black;
  text-decoration: none;
}
body nav .links ul li a:hover {
  font-weight: 900;
}
body .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  flex-direction: column;
  position: absolute;
  top: 15vh;
  margin-bottom: 5vh;
}
body .content .shopping-cart {
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .content .shopping-cart h1 {
  margin: 50px;
  font-family: "Cutive Mono", monospace;
}
body .content .shopping-cart .cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .content .shopping-cart .cart-items .order {
  background: snow;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vh;
}
body .content .shopping-cart .cart-items .order .order-item {
  margin: 10px;
}
body .content .shopping-cart .cart-items .order .order-price {
  margin: 10px;
}
body .content .shopping-cart .cart-items .order .delete {
  margin: 10px;
  max-height: 5vh;
}
body .content .shopping-cart .cart-items .order .delete:hover {
  cursor: pointer;
  color: #eccdcd;
  background: black;
}
body .content .shopping-cart .total {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  font-size: 1.25em;
  font-weight: 600;
}
body .content .shopping-cart .total p {
  margin: 20px;
}
body .content .shopping-cart .checkout {
  margin: 50px;
  padding: 10px;
  font-size: 0.9em;
  border-radius: 15px;
  border: 2px solid black;
  outline: none;
}
body .content .shopping-cart .checkout:hover {
  cursor: pointer;
  color: #eccdcd;
  background: black;
}
body .content .drinks {
  margin-top: 5vh;
}
body .content .drinks .beverage {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
body .content .drinks .beverage img {
  margin: 15px;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  box-shadow: 1px 1px 15px grey;
}
body .content .drinks .beverage .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background: snow;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 1px 1px 15px grey;
}
body .content .drinks .beverage .info .drink-name {
  text-align: center;
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 2vh;
  font-family: "Cutive Mono", monospace;
}
body .content .drinks .beverage .info .price {
  margin-bottom: 5vh;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  font-family: "Cutive Mono", monospace;
}
body .content .drinks .beverage .info button {
  justify-self: center;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-weight: 600;
  font-size: 0.9em;
  outline: none;
}
body .content .drinks .beverage .info button:hover {
  cursor: pointer;
  color: #eccdcd;
  background: black;
}

/*# sourceMappingURL=styles.css.map */
