@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $light-pink;
    @include flexDisplay();
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    flex-direction: column;
    nav {
        overflow: hidden;
        font-family: 'Cutive Mono', monospace;
        display: flex;
        position: absolute;
        top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        min-height: 25vh;
        max-height: 33vh;
        background: $light-blue;
        header {
            position: relative;
            @include flexDisplay();
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 20px;
            h1 {
                margin: 10px;
                font-size: 2em;
                text-align: center;
                @media (max-width: 346px) {
                    font-size: 1.75em;
                }
            }
            img {
                margin-left: 10px;
                height: 65px;
                width: 65px;
                @media (max-width: 619px) {
                    height: 50px;
                    width: 50px;
                }
                @media (max-width: 448px) {
                    height: 35px;
                    width: 35px;
                    margin-top: 5px;
                }
           }
        }
        .links {
            @include flexDisplay();
            flex-direction: row;
            position: relative;
            align-content: center;
            flex: 1;
            ul {
                @include flexDisplay();
                flex-direction: row;
                flex-wrap: wrap;
                li {
                    margin: 0 2vw;
                    list-style-type: none;
                    font-size: 1.5em;
                    a {
                        color: black;
                        text-decoration: none;
                        &:hover {
                            font-weight: 900;
                            text-decoration: underline;
                        }
                    }
                    @media (max-width: 346px) {
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
    .content {
        @include flexDisplay();
        width: 100vh;
        flex-direction: column;
        position: absolute;
        top: 30vh;
        margin-bottom: 5vh;
        .shopping-cart {
            text-align: center;
            width: 100vw;
            @include flexDisplay();
            flex-direction: column;
            h1 {
                margin: 50px;
                font-family: 'Cutive Mono', monospace;
            }
            .cart-items {
                @include flexDisplay();
                flex-direction: column;
                .order {
                    background: snow;
                    border-radius: 15px;
                    min-width: 25vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 1vh;
                    .order-item {
                        margin: 10px;
                    }
                    .order-price {
                        margin: 10px;
                    }
                    .delete {
                        margin: 10px;
                        margin-right: 1vw;
                        max-height: 5vh;
                        &:hover {
                            cursor: pointer;
                            color: $light-pink;
                            background: black;
                        }
                    }
                }
            }
            .total {
                width: 100vw;
                height: 10vh;
                text-align: center;
                font-family: 'Cutive Mono', monospace;
                font-size: 1.25em;
                font-weight: 600;
                p {
                    margin: 20px;
                }
            }
            .checkout {
                margin: 50px;
                padding: 10px;
                font-size: .9em;
                border-radius: 15px;
                border: 2px solid black;
                outline: none;
                &:hover {
                    cursor: pointer;
                    color: $light-pink;
                    background: black;
                }
            }
        }
        .drinks {
            @include flexDisplay();
            flex-direction: column;
            width: 100vw;
            margin-top: 5vh;
            .beverage {
                @include flexDisplay();
                justify-content: center;
                flex-wrap: wrap;
                img {
                    margin: 15px;
                    border-radius: 15px;
                    width: 250px;
                    height: 300px;
                    box-shadow: 1px 1px 15px grey;
                }
                .info {
                    @include flexDisplay();
                    flex-direction: column;
                    width: 250px;
                    height: 300px;
                    background: snow;
                    border-radius: 15px;
                    margin: 10px;
                    box-shadow: 1px 1px 15px grey;
                    .drink-name {
                        text-align: center;
                        font-size: 1.5em;
                        font-weight: 600;
                        margin: 2vh 1vw;
                        font-family: 'Cutive Mono', monospace;
                    }
                    .price {
                        margin-bottom: 5vh;
                        font-size: .9em;
                        font-weight: 400;
                        text-align: center;
                        font-family: 'Cutive Mono', monospace;
                    }
                    button {
                        justify-self: center;
                        border-radius: 10px;
                        border: none;
                        padding: 15px;
                        font-weight: 600;
                        font-size: .9em;
                        outline: none;
                        &:hover {
                            cursor: pointer;
                            color: $light-pink;
                            background: black;
                        }
                    }
                    @media (max-width: 549px) {
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
}